{% extends 'buyr/base.html' %}
{% load static %}
{% block content %}
<!-- Start Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                    aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <h1 style="font-size: 40px;  font-weight: bold; color: #b0b435;">FARM <span
                        style="color: black;">FETCH</span></h1>
            </div>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                <li class="nav-item active"><a class="nav-link" href="{% url 'buyer_home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">My Account</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'add_buyer_details' %}">Add Profile</a></li>
                        <li><a href="{% url 'view_buyer_detials' user.pk %}">View Profile</a></li>
                        <li><a href="{% url 'Signout' %}">SignOut</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'purchased_products' %}">Purchased Products</a></li>

                        <li><a href="{% url 'cart_view' %}">Cart</a></li>


                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'gallery' %}">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->

        <!-- Start Atribute Navigation -->
        <div class="attr-nav">
            <ul>
                <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                <li class="side-menu">
                    <a href="#">
                        <i class="fa fa-shopping-bag"></i>
                        <span class="badge">{{no_of_prd}}</span>
                        <p>My Cart</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Atribute Navigation -->
        </div>
        <!-- Start Side Menu -->
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            {% if cart_items %}
            <li class="cart-box">

                <ul class="cart-list">
                    {% for item in cart_items %}
                    <li>
                        <a href="#" class="photo"><img src="{{item.product.imageURL_1}}" class="cart-thumb"
                                alt=""  /></a>
                        <h6><a href="#">{{ item.product.name }} </a></h6>
                        <p>{{ item.quantity }}<span class="price">{{ item.product.price }}</span></p>
                    </li>
                    {% endfor %}

                    <li class="total">
                        <a href="{% url 'cart_view' %}" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                        <span class="float-right"><strong>Total</strong>: {{ total_price }}</span>
                    </li>

                </ul>
                {% else %}
                <p>Your cart is empty.</p>
                {% endif %}
            </li>
        </div>
        <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
</header>
<!-- End Main Top -->
<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <form action="" method="get">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" name="search" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </form>
    </div>
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Cart</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active">Cart</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Images</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        {% if cart_items %}
                        <tbody>
                            {% for item in cart_items %}
                            <tr>
                                <td class="thumbnail-img">
                                    <a href="#">
                                        <img class="img-fluid" src="{{item.product.imageURL_1}}" alt="" />
                                    </a>
                                </td>
                                <td class="name-pr">
                                    <a href="#">
                                        {{ item.product.name }}
                                    </a>
                                </td>
                                <td class="price-pr">
                                    <p>{{ item.product.price }}</p>
                                </td>
                                <td class="quantity-box"><input type="number" size="4" value="{{ item.quantity }}" readonly></td>
                                <td class="total-pr">
                                    <p>{{ item.total }}</p>
                                </td>
                                <td class="remove-pr">
                                    <a href="{% url 'delete_product_cart' item.id %}">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            <p></p>
                        </tbody>
                        {% else %}
                        <p>Your cart is empty.</p>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>

       <div style="margin-left: 700px; margin-top: 50px;">
        <h2 style="font-weight: bolder;">Total Amount : <span style="font-size: xx-large;">{{ total_price }}</span></h2>
       </div>


        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>Order summary</h3>



                    <hr>

                    <hr>
                </div>
            </div>
            <div class="col-12 d-flex shopping-box"><a href="{% url 'check' %}"
                    class="ml-auto btn hvr-hover">Checkout</a> </div>
        </div>

    </div>
</div>
<!-- End Cart -->

<!-- Start Instagram Feed  -->
<div class="instagram-box">
    <div class="main-instagram owl-carousel owl-theme">
        <div class="item">
            <div class="ins-inner-box">
                <img src="{% static 'images/instagram-img-01.jpg' %}" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="{% static 'images/instagram-img-02.jpg' %}" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="{% static 'images/instagram-img-03.jpg' %}" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="{% static 'images/instagram-img-04.jpg' %}" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="{% static 'images/instagram-img-05.jpg' %}" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="{% static 'images/instagram-img-06.jpg' %}" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="{% static 'images/instagram-img-07.jpg' %}" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="{% static 'images/instagram-img-08.jpg' %}" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="{% static 'images/instagram-img-09.jpg' %}" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="{% static 'images/instagram-img-05.jpg' %}" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Instagram Feed  -->



<script>
    // Function to calculate subtotal
    function calculateSubtotal(row) {
        // Get the quantity input and price element for the current row
        var quantityInput = row.querySelector('.quantity-box input');
        var priceElement = row.querySelector('.price-pr p');
        var subtotalElement = row.querySelector('.total-pr p');

        // Parse quantity and price to integers
        var quantity = parseInt(quantityInput.value);
        var price = parseFloat(priceElement.textContent);

        // Calculate subtotal
        var subtotal = quantity * price;

        // Update subtotal element
        subtotalElement.textContent = subtotal.toFixed(2);
    }

    // Listen for changes in quantity input fields
    var quantityInputs = document.querySelectorAll('.quantity-box input');
    quantityInputs.forEach(function (input) {
        input.addEventListener('input', function () {
            // Get the closest row to the input field
            var row = this.closest('tr');
            // Call the calculateSubtotal function with the current row
            calculateSubtotal(row);
        });
    });

    // Calculate subtotals for existing rows on page load
    var rows = document.querySelectorAll('.table tbody tr');
    rows.forEach(function (row) {
        calculateSubtotal(row);
    });
</script>

{% endblock %}