
{% extends 'buyr/base.html' %}
{% load static %}
{% block content %}

    <!-- Start All Title Box -->


    <style>
        input{
            display: none;
        }
        .review{
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
       }
    label.fa-star{
      font-size:50px;
      transition:all 200ms ease-out;
    }
    
    input:checked+label,
    input:checked+label+input+label,	input:checked+label+input+label+input+label,
    input:checked+label+input+label+input+label+input+label,
    input:checked+label+input+label+input+label+input+label+input+label{
            color: lime;
    }
    </style>
   
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Order Successfully Completed</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Order</a></li>
                        <li class="breadcrumb-item active"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h4 style="margin-top: 30px;">
            <pre>
            Hi {{request.user.name}},

                    Your order is all set and en route to you! 🚚 Our farmer is super excited to
                    deliver your fresh products. You can expect them at your doorstep soon.
              
            </pre>
        </h4>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <h3>pls rate us to improve</h3>
<div class='review'>
	<input type='radio' name="stars" id='stars_5'  value="5">
	<label class='fa fa-star' for='stars_5'></label>

	<input type='radio' name="stars" id='stars_4'  value="4">
	<label class='fa fa-star' for='stars_4'></label>

	<input type='radio' name="stars" id='stars_3'  value="3">
	<label class='fa fa-star' for='stars_3'></label>

	<input type='radio' name="stars" id='stars_2'  value="2">
	<label class='fa fa-star' for='stars_2'></label>

	<input type='radio' name="stars" id='stars_1'  value="1">
	<label class='fa fa-star' for='stars_1'></label>

</div>
<button id="sendRating" style="background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;">Send</button>

        

    </div>

    <!-- End All Title Box -->
    <div style="margin-bottom: 300px;margin-top: 60px;margin-left: 60px;"><a class="btn btn-success" href="{% url 'buyer_home' %}">Back To Home</a></div>

    
    <script>
        document.getElementById("sendRating").addEventListener("click", function() {
            var rating = document.querySelector('input[name="stars"]:checked');
            if (rating) {
                alert("Your rating has been sent successfully.");
            } else {
                alert("Please select a rating before sending.");
            }
        });
    </script>

{% endblock %}   

